.container {
  padding: 24px 15px;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1920px) {
    margin: 0;
    max-width: 1494px;
  }
}

.hero {
  margin: 0 auto;
  width: 290px;
  height: 284px;

  @media screen and (min-width: 1280px) {
    width: 500px;
    height: 478px;
  }

  @media screen and (min-width: 1920px) {
    width: 729px;
    height: 690px;
  }
}
