.container {
  padding: 24px 15px;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1920px) {
    margin: 0;
    max-width: 1494px;
    padding-left: 90px;
  }
}
